.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}
.nav a{
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10%;
    padding: 10px;
}
.nav a:visited{
   color: black;
}